<div class="grid grid-cols-1 mt-8 text-white h-[120%]">
  <div class="justify-center text-center text-5xl items-center p-10">
    <div class="p-2">
      <a
        href="https://www.linkedin.com/in/rinaldo-uchoa-pontes-junior-201b68210/"
        target="_blank"
      >
        <i class="pi pi-linkedin  text-5xl"></i>
        Linkedin
      </a>
    </div>
    <div class="p-12">
      <a href="https://github.com/Rinaldo-JR1" target="_blank">
        <i class="pi pi-github text-5xl"></i>
        Github
      </a>
    </div>
  </div>
</div>
