<div class="grid grid-cols-1 md:grid-cols-2 mt-8 text-white h-[120%]">
  <div class="flex justify-center items-center p-10">
    <div>
    {{text}}
    </div>
  </div>
  <div class="flex justify-center items-center">
    <p-carousel [value]="planets" [numVisible]="1" (onPage)="handlePages($event)">
      <ng-template pTemplate="item" let-planet >
        <div class="flex justify-center align-middle">
          <img src={{planet.image}} class="w-96 flex" />
        </div>
        <p class="text-center mt-2">{{planet.name}}</p>
      </ng-template>
    </p-carousel>
  </div>
</div>
