<div class="grid grid-cols-1 md:grid-cols-2 mt-8 slide-in-body text-white h-[120%]">
  <div class="flex justify-center items-center p-10">
    <div>
      <h1 class="text-3xl font-bold mb-4">
        Explorando os Limites do Cosmos: Uma Viagem Entre Planetas Reais
      </h1>
      <p class="text-lg">
        O sistema solar é um sistema planetário fascinante que consiste em uma
        estrela central, o Sol, e todos os objetos celestes que orbitam ao seu
        redor. Além dos planetas, o sistema solar inclui luas, asteroides,
        cometas, planetas anões e uma vasta quantidade de poeira e gás. O Sol,
        uma gigantesca esfera de plasma, é responsável por fornecer luz, calor e
        energia para todos os corpos que o circundam.
      </p>
      <p class="text-lg">
        Os planetas, incluindo Mercúrio, Vênus, Terra, Marte, Júpiter, Saturno,
        Urano e Netuno, são os principais protagonistas do sistema solar. Cada
        um possui características únicas, desde tamanhos e composições
        diferentes até atmosferas e temperaturas diversas. Além disso, o sistema
        solar também é lar de uma grande variedade de luas, algumas das quais
        possuem características semelhantes aos planetas que orbitam.
      </p>
      <p class="text-lg">
        A exploração do sistema solar tem sido uma fonte constante de
        descobertas e maravilhas, proporcionando insights importantes sobre a
        origem e evolução do nosso próprio planeta, bem como sobre a
        possibilidade de vida em outros lugares do universo.
      </p>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <button (click)="redirect()"
      class="w-32 h-32 slide-in-body bg-blue-500 rounded-full flex justify-center place-items-center shadow-2xl transition-colors duration-300 ease-in-out hover:bg-white hover:text-black"
    >
      Explorar
    </button>
  </div>
</div>
