<div class="grid grid-cols-1 md:grid-cols-2 mt-8 text-white h-[120%]">
  <div class="flex justify-center items-center p-10">
    <div>
      <h1 class="text-3xl font-bold mb-4">Explorando os Limites do Cosmos: Uma Viagem Entre Planetas Reais</h1>
      <p class="text-lg">
        Bem-vindos à aventura interplanetária mais emocionante de todos os tempos! Prepare-se para embarcar em uma
        jornada épica através do vasto cosmos, onde exploraremos os segredos e maravilhas de alguns dos planetas mais
        fascinantes do nosso sistema solar.</p>
      <p class="text-lg">
        Nossa jornada começa na Terra, o nosso lar familiar e acolhedor, onde nos despedimos da gravidade e nos lançamos
        rumo ao desconhecido. A bordo da nossa nave espacial, equipada com tecnologia de ponta e conforto incomparável,
        somos transportados para mundos além da nossa imaginação.
      </p>
      <p class="text-lg">Nosso primeiro destino é Marte, o Planeta Vermelho. Ao chegarmos, somos recebidos por vastas
        planícies de areia vermelha e majestosas montanhas que se elevam ao horizonte. Exploramos os antigos vales e
        desfiladeiros, maravilhados com as paisagens marcianas únicas que se estendem diante de nós. Descobrimos os
        vestígios de antigas civilizações marcianas, cujos mistérios continuam a intrigar os cientistas da Terra.</p>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <button
      class="w-32 h-32 bg-blue-500 rounded-full flex justify-center place-items-center shadow-2xl transition-colors duration-300 ease-in-out hover:bg-white hover:text-black" >Explorar</button>
  </div>
</div>
